[submodule "public"]
	path = public
	url = git@github.com:shayanh/shayanh.github.io.git
	branch = master
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin
